* {
    padding: 0;
    margin: 0
  }
  .parent:first-of-type {
    background: #48ff00 url("1\ \(1\).jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(2) {
    background: rgb(255, 255, 255) url("1\ \(2\).jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(3) {
    background: #ffffff url("1\ \(3\).jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(4) {
    background: #ffffff url("1\ \(4\).jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:last-of-type {
    background: #ffffff url("1\ \(5\).jpg") no-repeat center center fixed;
    background-size: cover;
  }  
  .parent {
    width: 100%;
    height: 150vh;
    color: #00fff7;
    text-shadow: 0 0 5px #00ff0d;
    font-family: tahoma;
    text-align: center;
    line-height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden
  }
  .parent p {
    padding: 25px
  }